<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmDUPoUj_uGx74dLd0ivKTH1fBDRL6BnY</string>
	<key>GCM_SENDER_ID</key>
	<string>846406380683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harmoniglow</string>
	<key>PROJECT_ID</key>
	<string>harmoni-glow</string>
	<key>STORAGE_BUCKET</key>
	<string>harmoni-glow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846406380683:ios:cfb3904bbb9302c131788e</string>
</dict>
</plist>